@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #D27487;
  --primary-variant: #C67A88;
  --primary-background: #4A2B33;
  --secondary: #AA9E54;
  --section-light: #E9E9E3;
  --button-primary: #6F6F64;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-azeret-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
